@font-face {
    font-family: 'pt_serifbold';
    src: url('fonts/ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_serif';
    src: url('fonts/ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
