.wrapper {
   margin: auto;
   width: 80%;
}

.header {
   display: flex;
   justify-content: space-between;
}

.header__title, .nav {
   display: inline-block;
}

.header__title {
   position: relative;
   padding: 40px 0;
   padding-left: 44px;
   font: 24px/31px 'pt_serifbold';
}

.title__circle {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 28px;
   height: 28px;
   border-radius: 50%;
   opacity: .7;
}

.title__circle_color_blue {
   left: 8px;
   top: 56%;
   background: #c8dbfb;
}

.title__circle_color_dark-blue {
   background: #0056ec;
}

.nav {
   display: flex;
   align-items: center;
}

.nav__link {
   padding: 0 13px;
}

.nav__link:last-child {
   padding-right: 0;
}
