.wrapper {
   margin: auto;
   width: 80%;
}

.header {
   display: flex;
   justify-content: space-between;
}

.header__logo {
   position: relative;
   padding: 33px 0;
   padding-left: 41px;
   font: 24px/31px 'pt_serifbold';
}

.logo__circle {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 28px;
   height: 28px;
   border-radius: 50%;
   opacity: .7;
}

.logo__circle_color_blue {
   left: 8px;
   top: 56%;
   background: #c8dbfb;
}

.logo__circle_color_dark-blue {
   background: #0056ec;
}

.menu {
   display: flex;
   align-items: center;
   margin-right: -19px;
}

.menu__link {
   position: relative;
   margin-right: 26px;
   font: 18px/21px 'Roboto';
   color: #000;
   text-decoration: none;
   transition: opacity .5s;
}

.menu__link:after {
   position: absolute;
   left: 0;
   display: block;
   content: '';
   width: 0;
   height: 3px;
   background: #0056EC;
   opacity: 0;
   transition: opacity .5s, width .5s;
}

.menu__link:hover {
   opacity: .5;
}

.menu__link:hover:after, .menu__link_active:after {
   opacity: 1;
   width: 100%;
}

.menu__link:last-child {
   padding-right: 0;
}

.menu__link_active::after {
   display: block;
   content: '';
   width: 100%;
   height: 3px;
   background: #0056EC;
}

.menu__link:hover:after {
   position: absolute;
   left: 0;
   display: block;
   content: '';
   width: 100%;
   height: 3px;
   background: #0056EC;
}

.main {
   margin-bottom: 133px;
   padding-top: 158px;
   padding-bottom: 117px;
   background: url(img/bg.png);
   background-position: bottom right;
   background-repeat: no-repeat;
}

.main__section {
   width: 52%;
}

.section__title {
   font: 66px/86px 'pt_serifbold';
}

.section__text {
   margin-top: -15px;
   padding-bottom: 20px;
   width: 58%;
   font: 22px/25px 'Roboto';
}

.section__button {
   margin-left: -5px;
   padding: 19px 30px;
   background: #0056ec;
   font: 18px/18px 'Roboto';
   color: #fff;
   border-radius: 10px;
   border: none;
}

.dots {
   display: flex;
   align-items: center;
   justify-content: center;
}

.dots__dot {
   position: relative;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: #c8dbfb;
}

.dots__dot::after,
.dots__dot::before {
   position: absolute;
   content: '';
   width: 8px;
   height: 8px;
   background: #c8dbfb;
   border-radius: 50%;
}

.dots__dot::after {
   margin-left: 12px;
}

.dots__dot::before {
   margin-left: -14px;
}